
@font-face{
	;font-family:tomatoes;
	src:url(fonts/tomatoes.ttf);
}

body {
	background:rgba(248, 244, 236, 1.0);
	color:rgba(0, 0, 0, 1.0);
	margin-right:25px;
	margin-left:25px;
	margin-top:0;
}

#nav{
		background:#e2ebf7;
		width:150px;
		padding:10px;
		text-align:center;
		margin:15px;
		border-top:dashed white 2px;
		border-bottom:dashed white 2px;
		font-family:tomatoes;
}
	
h1 {
	color:rgba(38, 81, 121, 1.0);
	font-family:monospace;
}

#ocaduniversity{
	font-size:40px;
	text-align:left;
}

h2 {
	color:rgba(65, 128, 203, 1.0);
	font-family:monospace;
}
#history{
	font-size:25px;
	font-weight:bold;
}

h3 {
	color:rgba(0, 0, 0, 1.0);
	font-family:monospace;
}

p{
	font-family:monospace;
	width:800px;

}

.purple-paragraph{
	color:rgba(96, 94, 147, 1.0);

}

a:link{color:rgba(33, 73, 121, 1.0);}

a:visited{color:rgb(111, 159, 216, 1.100);}


	#nav a{
		color:rgba(33, 73, 121, 1.0);
		}
